<!-- <div class="container">

     <div class="row  pad-top">

        <div class="col-md-4 col-md-offset-4">
            
            <form action="src/phpfiles/uploadservice.php" method="post" enctype="multipart/form-data" role="form">
                
                Send these files:<br />
                
                <input name="userfile[]" file-model="myFile" type="file" class="form-control" multiple="multiple"/><br />
                
                <input type="submit" value="Send files" class="btn btn-primary"  />
                
                <a href="#/partials/table" class="btn btn-primary">Home</a>
            </form>
        </div>
    </div>
</div>-->
<div class="row  pad-top">

    <div class="col-md-4 col-md-offset-4" ng-controller="uploadCtrl">
        <p>  <a href="#/partials/table" class="btn btn-primary">Home</a></p>
        <form>
            <div style="text-align: left;font-size: 20px;padding: 10px;color: #487eaa;">
                <font> Upload Images: 5 only allowed</font>
            </div>
            <div class="file-upload">
                <input type="file" id="i_file" name="file[]" ng-model="upload.file"
                       ng-file-select="onFileSelect($files)" multiple class="form-control"/>

                <div ng-repeat="files in uploadResult">

                    <span class='label label-info'>{{files.name}} uploaded</span><br/>

                </div>
            </div>
        </form>
    </div>
</div>
