<style>
    select {
        border: 1px solid cornflowerblue;            
        -webkit-appearance: none;          
        -moz-appearance: none;             
        /*background: url('dropdown_arrow.png') no-repeat;*/          
        background-position: 82px 7px;           
        width: 60px;            
        text-indent: 0.01px;        
        text-overflow: ""; 
        height: 28px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    input,#login,#password{
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-collapse: collapse;
        border: 1px solid cornflowerblue;
        height: 30px;
    }
    ul li.dspl{display: none;}
    /*.login, .ulogout{height: 34px}*/
</style>
<script>
    function localStroagedata(){
    
    if(localStorage.getItem('user') === "validuser"){
        
      $('.dspl').css('display','inline');
      
      $('.login').css({'display':'none'});
    }else{
       $('.logout').css('display','none');
}}
localStroagedata();

</script>
<div class="container  intr">
    <div class="row  intrbtm" ng-controller="loginCtrl" style="background:lightgray">
        <ul class="list-inline">
            <li style="color:white">$1Budget.com</li>
            <li class="btn btn-primary">Home</li>
            
            <li class="dspl" ng-style="{display:user.update}" ng-click="">
             <a href="#/partials/dataupload" class="btn btn-primary">Update</a></li>
            <li class="dspl" ng-style="{display:user.upload}"><a href="#/partials/dataupload" class="btn btn-primary">Upload</a></li>
            <li><a href="#/partials/contactus" class="btn btn-primary">Contact Us</a></li>
            <li><input type="text" id="username" size="15" name="username" placeholder="username" ng-model="user.username"></li>
            <li><input type="text" id="password" size="15" name="password" placeholder="password" ng-model="user.password"></li>
            <li class="btn btn-primary login" ng-style="{display:user.udisplay}"  ng-click="login_valdiation(user)">Login</li>
            
            <li class="btn btn-primary logout" ng-style="{display:user.odisplay}" ng-click="user_stylereset(user)">Logout</li>
            
            <li><a href="#/partials/register" class="btn btn-primary">Register</a></li>

        </ul>
    </div>
    <div class="row brd">
        <div class="divleft col-xs-2">
            <button class="btn">Advertising</button>{{count}}
        </div>

        <div class="divcenter col-xs-8" >

            <div id="search-length" class="row intr" ></div> 

            <table class="dataTable">

                <tbody></tbody>

            </table>
        </div>

        <div class="divright col-xs-2">
            <button class="btn">Advertising</button>
            <p>{{favoriteCookie}}</p>
        </div>
    </div> 

</div>